<div class='list'>
  <h1><%= current_user.name.capitalize %>'s Upcoming Mentor Pairings</h1>
  <%= link_to 'Schedule a Pairing', new_pairing_path, class: 'btn' %>
    <%= render @upcoming_mentor_pairings %>

  <h1><%= current_user.name.capitalize %>'s Previous Mentor Pairings</h1>
    <%= render @previous_mentor_pairings %>
</div>

<%= form_tag user_topics_path, class: 'topics-form' do %>
  <%= render @topics %><br>
  <%= submit_tag 'Save', class: 'btn', name: nil %>
<% end %>
