<div class='list'>
  <h1><%= current_user.name.capitalize %>'s Upcoming Mentor Pairings</h1>
  <%= link_to 'Schedule a Pairing', new_pairing_path, class: 'btn' %>
    <%= render @upcoming_mentor_pairings %>

  <h1><%= current_user.name.capitalize %>'s Previous Mentor Pairings</h1>
    <%= render @previous_mentor_pairings %>
</div>

<%= form_tag user_topics_path, class: 'topics-form' do %>
  <%= render @topics %>
  <%= submit_tag 'Save', class: 'btn', name: nil %>
<% end %>

<div class='list'>
  <h2>Recent Received Feedback:</h2>
  <ul>
    <%= render @feedbacks %>
  </ul>
  <%= link_to 'Your Feedback', user_feedbacks_path, class: 'btn' %>
</div>
