<h2>Register:</h2>
<%= form_for @user do |f| %>
  <p>
    <%= f.label :name %>
      <%= f.text_field :name %><br>

    <%= f.label :email %>
      <%= f.email_field :email %><br>

    <%= f.label :password %>
      <%= f.password_field :password %><br>

    <%= f.radio_button(:phase, "1") %>
      <%= f.label(:phase, "Phase 1") %><br>
    <%= f.radio_button(:phase, "2") %>
      <%= f.label(:phase, "Phase 2") %><br>
    <%= f.radio_button(:phase, "3") %>
      <%= f.label(:phase, "Phase 3") %><br>

    <%= f.radio_button(:group, "mentor") %>
      <%= f.label(:group, "Mentor") %><br>
    <%= f.radio_button(:group, "student") %>
      <%= f.label(:group, "Student") %><br>

    <%= f.submit "Create", name: nil %>

<% end %>

<h2>Login:</h2>
<%= form_for @user, url: sessions_path do |f| %>

  <%= f.label :email %>
    <%= f.email_field :email %><br>
  <%= f.label :password %>
    <%= f.password_field :password %><br>

  <%= f.submit "Login" %>
<% end %>
