<!-- form to create a new pairing - for mentors only -->

<ul>
  <li><%= pairing.mentor.name %></li>
  <li> MENTOR AVG. RATING </li>
  <li>Phase: <%= pairing.mentor.phase %></li>
  <li><%= pairing.start_time %></li>
  <li><%= pairing.mentor.email %></li>  <!-- link to email -->

  <% if !mentor %>
    <%= link_to 'Join this mentor', edit_pairing_path(pairing) %>
  <% end %>
</ul>
