<ul>
  <li><%= pairing.mentor.name %></li>
  <li> MENTOR AVG. RATING </li>
  <li>Phase: <%= pairing.mentor.phase %></li>
  <li><%= pairing.start_time %></li>
  <li><%= pairing.mentor.email %></li>  <!-- link to email -->

  <%= link_to 'Join this mentor', edit_pairing_path(pairing) %>
</ul>
