<!-- form to create a new pairing - for mentors only -->

<ul>
  <li>Mentor: <%= pairing.mentor.name %></li>

  <li>Student: <% if pairing.student != nil %>
                <%= pairing.student.name %></li>
               <% end %>

  <li>Avg. Rating: <%= display_rating(pairing.mentor) %> </li>
  <li>Phase: <%= pairing.mentor.phase %></li>
  <li><%= pairing.start_time %></li>
  <li><%= pairing.mentor.email %></li>
  <li>Topics: <%= pairing.mentor.show_topics %></li>  <!-- link to email -->

  <% if pairing.mentor_id != current_user.id %>
    <%= link_to 'Join this mentor', edit_pairing_path(pairing), class: 'btn-flat minor-button'  %>
  <% end %>
  <% if pairing.start_time < (Time.now).utc.iso8601 && pairing.feedbacks.first.try(:user_id) != current_user.id && pairing.feedbacks.second.try(:user_id) != current_user.id%>
      <%= link_to 'Give Feedback', new_pairing_feedback_path(pairing), class: 'btn-flat minor-button' %><br>
  <% end %>
  <% if pairing.mentor_id == current_user.id && pairing.start_time > (Time.now).utc.iso8601%>
    <%= link_to 'Delete This Pairing', pairing, method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn-flat minor-button' %>
  <% end %>
</ul>
