<!-- filtered list of upcoming pairings -->

<h1>Available Pairing Sessions</h1>
  <%= link_to 'Create New Pairing Session', new_pairing_path %>
  <%= render @available_pairings %>

<h1><%= current_user.name %>'s Upcoming Mentor Pairings</h1>
  <%= render @upcoming_mentor_pairings %>

<h1><%= current_user.name %>'s Previous Mentor Pairings</h1>
  <%= render @previous_mentor_pairings %>

<h1><%= current_user.name %>'s Upcoming Student Pairings</h1>
  <%= render @upcoming_student_pairings %>

<h1><%= current_user.name %>'s Previous Student Pairings</h1>
  <%= render @previous_student_pairings %>
