<!DOCTYPE html>
<html>
<head>
  <title>PetesPairBoard</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
  <ul class="navbar">
    <li><%= link_to "Home", root_path %></li>
    <% if logged_in? %>
      <li><%= link_to "Logout", logout_path, method: :delete %></li>
      <li> <%= link_to "Available Pairings", pairings_path %> </li>
      <li> <%= link_to "Student Pairings", user_student_path(current_user) %> </li>
      <li> <%= link_to "Mentor Pairings", user_mentor_path(current_user) %> </li>
    <% else %>
      <li><%= link_to "Login", new_user_path %></li>
      <li><%= link_to "Register", new_user_path %></li>
    <% end %>
  </ul>

<%= yield %>

</body>
</html>
